@import url('$lib/clash-grotesk.css');
@import url('$lib/dm-sans.css');
@import url('$lib/inter.css');
@import url('$lib/merriweather.css');
@import url('$lib/oxygen-mono.css');

@import 'tailwindcss';
@plugin "daisyui";

@theme {
    --font-sans: DM-Sans-Variable, sans-serif;
    --font-grotesk: ClashGrotesk-Variable, sans-serif;
    --font-dm-sans: DM-Sans-Variable, sans-serif;
    --font-inter: Inter-Regular, sans-serif;
    --font-merriweather: Merriweather-Regular, serif;
    --font-oxygen-mono: OxygenMono-Regular, monospace;
}

.hexagon {
    -webkit-clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}